body{
    background-color: rgb(253, 192, 255);
    font-family: 'Balsamiq Sans', cursive;
}
.gall{
    margin-top: 100px;
    margin-left: 11px;
    float: left;
    
    margin-right: 50px;
    transition: 0.5s;
    border-radius: 50%;
}
.gall img{
    border-radius: 50%;
}
.desc{
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: white;
}
.gall:hover{
    transform: scale(1.2);
}